.container {
  margin: 20px auto;
  width: 600px;
  height: 1200px;
  padding: 20px 20px 20px 20px;
}
th {
  text-align: left;
}
h1 {
	font-size: 55px;
	font-family: 'Inconsolata';
}
h4 {
	font-family: 'Inconsolata';
}
::-webkit-input-placeholder {
   font-family: 'Inconsolata';
   color: #CA3767;
}
.home_button img {
  max-height:10%;
  width: auto;
  position: absolute; top: 20px; right: 550px;
}
.my_shout_outs {
  margin: 20px auto;
  width: 400px;
  height: 1200px;
  padding: 0px 20px 20px 20px;
  position: static;
  overflow: scroll;
}
.home_button{
  float: right;
  margin-top: 15%;
}

.shout_out  {
border: 1px dotted;
}




