<div class="my_shout_outs">
  <h3>Roberta Rump</h3>
  <br>
  <% @all_shout_outs.each do |shout_out| %>
  <div class="shout_out">
    <% shout_out.user_id.name %><br>
    <% shout_out.content %><br>
    <% shout_out.date %>
  </div>
</div>
