
<div class="container">

  <h1>Welcome</h1>
  <%= @message %>
  <br>
  <form action="/receive_login_details" method="post" id="user_input_field" >
    <input name="user_name" placeholder="enter your username" type="text" >
    <input name="password" placeholder="password" type="password" >
    <br>
    <div class="submit">
      <input type="submit"/>
    </div>
  </form>
  <br>
  <h2>Shout out!</h2>
  <p>Shout out to people doing good in the world</p>
</div>




