<div class='welcome'>
  <h1>Welcome,@user!</h1>
  <form method="post" action="shout_out">
    <input type="text" placeholder="enter your Shout Out here" name="user_input" />
    <input type="submit" />
  </form>
</div>
