<div class="my_shout_outs">
  <h3>@<%= @user.handle%></h3>
  <br>
   <form method="post" action="/save_shout_out">
  <input type="text" placeholder="enter your shout out here" name="new_shout_out_content" />
  <input type="submit" value="holla" />
  </form>
  <br>
  <% @user.shout_outs.each do |shout_out| %>
  <div class="shout_out">
    <%= shout_out.content %><br>
    <br>
    <%= shout_out.created_at %>
  </div>
  <% end %>
</div>


