<div class="successful_logout">
	<p>You have successfully logged out, see you next time @<%= @user.handle %> </p>
	<br>


  <a href="/"><button type='submit'>Log back in</button></a>
    <!-- Would like to pre-fill the username field with the current user's name if they click log back in?? -->
</div>
